/*GENNERELT*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body#baggrund_lilla{
    background-color: #C2C0E5;
}

section{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    width: 100vw;
}

.ikon{
    margin-top: 50px;
    height: 50px;
    margin-right: 1vw;
}


#box div {
    display: flex;
    border: none;
    width: 80%;
}

#box div p{
    padding-right: 0;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 25px;    
  }

  .link_bento{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link_bento a,
  .link_bento p{
    font-size: 15pt;
    background-color: transparent;
    color: #FF0523;
    text-align: center;
  }


/*fonte*/
@font-face {
    font-family: coming soon;
    src: url(ComingSoon-Regular.ttf);
}

@font-face {
    font-family: rock;
    src: url(Rock3D-Regular.ttf);
}

a{
    font-family: coming soon;
    text-decoration: none;
    color: #FF0523;
    background-color: transparent;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    font-family: rock;
    font-size: 40pt;
    color: #FF0523;
    background-color: transparent;
}

#lilla{
    color: #827EC3;
    text-align: center;
    padding: 1%;
    font-size: 25pt;
}

h2{
    font-family: coming soon;
    font-size: 20pt;
    color: #FF0523;
    text-align: left;
    padding-left: 5%;
    padding-bottom: 5px;
    padding-top: 1%;
    background-color: transparent;
}

h3{
    font-family: coming soon;
    font-size: 18pt;
    color: #827EC3;
    text-align: left;
    padding-left: 5%;
    padding-top: 30px;
    background-color: transparent;
}

h4{
    font-family: coming soon;
    font-size: 14pt;
    color: #827EC3;
    text-align: left;
    padding-left: 5%;
    background-color: transparent;
}

#andet{
    font-family: coming soon;
    font-size: 12pt;
    color: #827EC3;
    text-align: left;
    padding-left: 5%;
    background-color: transparent;
    padding: 0;
}

p{
    font-family: coming soon;
    color: #311A4D;
    text-align: left;
    font-size: 12pt;
    padding-left: 5%;
    padding-right: 5%;
    background-color: transparent;
}

#kontakt_mig p{
    font-size: 20pt;
    color: #827EC3;
}

.cv{
    padding-top: 0;
}

.overskrift{
    padding: 0;
    margin: 0;
}

#papirsblomster{
    color: #827EC3;
}

.grid73 ul li{
    margin-left: 7%;
}

ul li{
    font-family: coming soon;
    text-align: left;
    margin-left: 8%;
    list-style-type:circle; 
}

/*HEADER*/
#header_laptop{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 100px;
    background-color: transparent;
}

.logo_laptop{
    width: 202px;
    background-color: transparent;
}

#mobil_logo{
    height: 80px;
    background-color: transparent;
    margin-top: 2%;
}

#logo_forside{
    display: none;
    background-color: transparent;
}

/*mobil*/

#header_mobil{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 100px;

    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;

    background-color: transparent;

    position: fixed;
}

/*burgermenu*/

.menu-indhold{
    height: 100vh;
    width: 100vw;
}

.burgermenu_ikon{
    height: 50px;
    margin-left: auto;
    background-color: transparent;
}

#burgermenu{
    width: 70%;
    margin-top: 20%;
    background-color: transparent;
}

#nav_menu{
    display: none;
    height: 100vh;
    background-color: rgba(194, 192, 229, 0.9);
    position: fixed;
    z-index: 3;
    top: 0;
}

#burgermenu_indhold{
    background-color: rgba(194, 192, 229, 0);
}

#kryds{
    display: none;
    margin-top: 10%;
    margin-right: 10%;
}

/*burgermenu slut*/

.knapper{
    border: solid;
    border-color: #FF0523;
    border-radius: 15px;
    margin: 10px;
    border-width: 1px;

    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 50px;
    padding-right: 50px;

    text-align: center;
    align-items: center;

    font-size: larger;
}

#to_knapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#overst{
    margin-left: 40%;
    top:0;
}

#toppen{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#underst{
    margin-left: -10%;
    background-color: transparent;
}

#nederst{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.knap{
    margin-top: 15%;
}

.knap a{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#knapper{
    display: flex;
    flex-direction: column;
}


/*BENTO BOX DESIGN*/
.wrapper{
    display: grid;
    margin: auto;
    max-width: 80vw;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 5px;
}

.wrapper div{
    border: 1px solid;
    border-color: #FF0523;
    border-radius: 25px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.bento{
    display: grid;
    margin: auto;
    max-width: 80vw;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 5px;
    margin-bottom: 50px;
    
}

.bento div{
    border: 1px solid;
    border-color: #FF0523;
    border-radius: 25px;
    text-align: center;
}

.bento .grid76{
    border: none;
    border-radius: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.bento_fire{
    display: grid;
    margin: auto;
    max-width: 80vw;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 5px;
    margin-bottom: 50px;
}

.bento_fire div{
    border: 1px solid;
    border-color: #FF0523;
    border-radius: 25px;
    text-align: center;
}

.bento_fem{
    display: grid;
    margin: auto;
    max-width: 80vw;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 5px;
    margin-bottom: 50px;
}

.bento_fem div{
    border: 1px solid;
    border-color: #FF0523;
    border-radius: 25px;
    text-align: center;
}

/*forsiden*/

body.forside_baggrund{
    background-image: url(images/fotos/forside.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    top:0;
}

#forsiden{
    grid-column: 1/3;
}

.grid1{
    grid-column: 1/2;
    grid-row: 2/4;
    background-color: transparent;
}

.grid2{
    grid-column: 2/3;
    grid-row: 2/3;
}

.grid3{
    grid-column: 2/3;
    grid-row: 3/4;
}

.grid4{
    grid-column: 1/3;
}

.forside_knapper{
    opacity: 0;
    pointer-events: none;
}

#forside_knapper{
    opacity: 0;
    pointer-events: none;
}

/*erfaring*/ 

body.erfaring_baggrund{
    background-image: url(images/fotos/erfaring.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    top:0;
}

.grid46,
.grid71,
.grid75,
.grid77{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid73 h2,
.grid74 h2{
    text-align: left;
}

/*cases*/
.grid12{
    display: flex;
    justify-content: center;
    align-items: center;
}

body.case_baggrund{
    background-image: url(images/fotos/cases_2.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    top:0;
}

.grid82{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid5,
.grid11,
.grid24,
.grid37,
.grid32{
    display: flex;
    justify-content: center;
    align-items: center;
}

#bk{
    text-align: center;
    align-items: center;
}

.grid10 h2, 
.grid16 h2,
.grid21 h2,
.grid28 h2,
.grid40 h2{
    text-align: left;
}

/*kontakt side*/
#ringmig{
    display: block;
    width: 100%;
    height: auto;  
}

.grid45{
    overflow: hidden; /*billede*/
}

#box #ikoner {
    padding-left: 8%; 
}

#ikoner, 
#kontakt_mig{
    margin-left: 5%;
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 0;
}

#kontakt_mig{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* Centrerer ikonerne og teksten vandret */
    text-align: left; /* Centrerer teksten */
    padding-bottom: 10%;

    display: flex;
    align-items: center; /* Centrerer ikonerne og teksten vandret */
    margin-left: 5%;
    padding: 0; /* Tilføjer lidt afstand mellem ikonerne og teksten */
    border-radius: 0;
}

/*om mig*/
 .moodboards{
    width: 100%;
 }

 .bento_fire .grid94{
    border-color: #827EC3;
 }

 .bento_fire .grid97{
    border-color: #827EC3;
 }

 #papirsblomst{
    padding: 20%;
 }

 #museum{
    width: 60%;
    padding: 5%;
 }

 .grid36 img, 
 .grid95 img,
 .grid98 img, 
 .grid72 img{
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
 }

 .grid81 img,
 .grid84 img{
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
 }

 .grid36{
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .moodboards{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
 }

/*FOOTER*/

/*RESPONSIVE*/ 

@media (max-width: 1000px) {
    /*gennerelt*/
    h1{
        font-size: 20pt;
    }

    h2{
        font-size: 18pt;
        text-align: center;
    }

    h3{
        font-size: 15pt;
    }

    .link_bento a,
    .link_bento p{
        font-size: 12pt;
    }

    #header_laptop{
    display: none;
   }

   .laptop_h1{
    display: none;
   }

   .grid21{
    padding-bottom: 50px;
   }

   footer{
    background-image: url(images/fotos/footer_mobil.jpg);
    background-size: cover; /* Dette sikrer, at billedet dækker hele baggrunden */
    background-repeat: no-repeat; /* For at forhindre gentagelse af baggrundsbilledet */
    background-position: center;
    height: 200px;
}

    /*pageloader*/

    #pageloader{
        background-color: #C2C0E5;
        width: 100vw;
        height: 100vh;
        top:0;
        position: fixed;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #pageloader img{
        width: 100%;
        border-radius: 20px;
        border:solid;
        border-color: #FF0523;
    }

    #et{
        display: none;
        position: absolute;
        z-index: 2;
        width: 70vw;
    }

    #to{
        display: none;
        position: absolute;
        z-index: 3;
        width: 70vw;
        transform: rotate(20deg);
    }

    #tre{
        display: none;
        position: relative;
        z-index: 4;
        width: 70vw;
        transform: rotate(-10deg);

    }

    #content{
        display: none;
    }
   /*grids*/
    
    .bento_fem,
    .bento,
    .bento_fire,
    .bento_fem {
        grid-template-columns: 1fr; /* Set the number of columns to 1 for smaller screens */
        grid-gap: 5px;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 5px;
    }  

    .bento_fem,
    .bento_fire div,
    .bento div,
    .bento_fem div {
        margin-top: 5px;
        grid-column: 1; /* Span the full width of the grid for each item */
        width: 100%;
        overflow: hidden;
    }

    .bento_fem img,
    .bento_fire img, 
    .bento img,
    .bento_fem img{
        width: 100%;
    }

    /*forside*/

    #forside{
        padding-top: 160px; /*så det kommer under headeren*/
        background-color: transparent;
    }

    body.forside_baggrund{
        background-image: url(images/fotos/forside_mobil.jpg);
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        top:0;
    }
    
    /*case siden*/
    #nav_1 a{
        margin: 0;
        margin-bottom: 5px;
        
        font-size: 18pt;
        
        padding: 0%;
        padding-left: 5px;
        padding-right: 5px;
    } 

    #nav_1 {
        padding-top: 50%; /*så det kommer under headeren*/
        padding-bottom: 400px;  /*så indholdet kommer under billede*/
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding-left: 10%;
        gap: 7px;
    }

    body.case_baggrund{
        background-image: url(images/fotos/cases_mobil.jpg);
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        top:0;
    }

    .grid6{
        display: none;
    }

    .grid23{
        display: none;
    }

    #webdesign,
    #visuelidentitet, 
    #visuelleeffekter, 
    #contentcreation
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #webdesign{
        margin-top: 25%;
    }

    .grid43 .grimfest{
        width: 50px;
    }

    .grid44 .grimfest{
        width: 50px;
    }

    .grid43, 
    .grid44{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .grid47{
        width: 100vw;
    }

    .grid10, 
    .grid16, 
    .grid33, 
    .grid40{
        padding-bottom: 50px;
    }

    .grid13{
        background-image: url(images/gh_moodboard.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        align-items: center;
        text-align: center; 
        padding-top: 50%;
    }

    .grimfest{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    
    /*erfaring siden*/

    body.erfaring_baggrund{
        background-image: url(images/fotos/erfaring_mobil.jpg);
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        top:0;
    }

    #nav a{
        margin: 0;
        margin-bottom: 5px;
        
        font-size: 18pt;
        
        padding: 0%;
        padding-left: 5px;
        padding-right: 5px;
    } 

    #nav {
        padding-top: 50%; /*så det kommer under headeren*/
        margin-bottom: 20%;
        display: flex;
        flex-direction: column;
        padding-left: 10%;
        gap:7px;
    }

    #referencer{
        margin-top: 600px;
    }

    #andet{
        font-size: 10pt;
    }

    .tegninger{
        width: 50%;
        padding: 5%;
    }

    /*mobil rækkefølge*/
    .grid49,
    .grid48,
    .grid50,
    .grid51,
    .grid52,
    .grid53,
    .grid54,
    .grid55,
    .grid56,
    .grid57,
    .grid58,
    .grid59{
        display: none;
    }

    .grid48{
        padding-bottom: 10%;
    }

    .grid55{
        padding: 5%;
    }

    .grid60 h2,
    .grid115 h2,
    .grid64 h2,
    .grid68 h2,
    .grid69 h2,
    .grid93 h2,
    .grid94 h2{
        text-align: center;
        padding: 5%;
        margin: 0;
    }

    .grid61 h2{
        text-align: center;
        padding: 5%;
        margin: 0;
    }


        /*programmer jeg kender*/

    #programmer_jeg_kender{
        display: flex;
        justify-content: center;
        margin-bottom: 10%;
    }

    #programmer_jeg_kender .mobil_h1{
        text-align: center;
        margin-bottom: 1%;
        width: 100%;
    }

   .grid75 {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
    }

    .grid76 img{
        border-radius: 20px;
        border-width: 1px;
        width: 60px;
        height: 60px;
        
        border: solid;
        border-color: #FF0523;
        border-radius: 15px;
        border-width: 1px;
    }

        /*kodesprog*/
    .grid77,
    .grid78, 
    .grid79,
    .grid80{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*om mig*/

    #ommig{
        padding-top: 200px; /*så det kommer under headeren*/
    }

    .grid99 h2{
        text-align: left;
    }
   
    .gird95 img{
        display: block;
        width: 100%;
        height: auto;
    }

    .grid101,
    .grid102,
    .grid104,
    .grid105,
    .grid106,
    .grid107,
    .grid82{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .grid103{
        overflow: hidden;
        padding: 10%;
    }

    /*kontakt*/
    #ikoner, 
    #kontakt_mig{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; /* Centrerer ikonerne og teksten vandret */
        text-align: left; /* Centrerer teksten */
        padding-bottom: 5%;
    }

    #ikoner{
        margin-left: -5%;
    }

    #kontakt_mig{
        margin-left: 2%;
    }

    #ikoner div,
    #kontakt_mig div{
        display: flex;
        align-items: center; /* Centrerer ikonerne og teksten vandret */
        padding: 0; /* Tilføjer lidt afstand mellem ikonerne og teksten */
        border-radius: 0;
        width: 100%;
    }

   #ikoner div{
    margin: -20px;
   }

    #callme{
        padding-top: 25%; /*så det kommer under headeren*/
    }

    #ikoner img,
    #kontakt_mig img{
        width: 50px;
        height: auto;
    }

    .ikon_tekst{
        font-size: 10pt;
        padding-top: 50px;
        padding-left: 0;
        text-align: left;
        color: #827EC3;
        white-space: nowrap;
    }

    #box{
        padding: 5%;
        word-wrap: break-word;
        overflow: hidden;
    }

    .grid110{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #kontakt_mig p{
        font-size: 10pt;
    }

}

@media (min-width: 1000px) {

    /*gellerelt*/
    #header_mobil{
        display: none;
    }

    .mobil_h1{
        display: none;
    }

    .knapper:hover{
        background-color: #827EC3;
        color: #C2C0E5;
        border-color: #C2C0E5;
        cursor: pointer;
    }
    
    .om:hover, 
    .om:hover a{
        background-color: #827EC3;
        color: #C2C0E5;
        border-color: #C2C0E5;
        cursor: pointer;
    }
    
    .kompetencer:hover, 
    .kompetencer:hover a{
        background-color: #827EC3;
        color: #C2C0E5;
        border-color: #C2C0E5;
        cursor: pointer;
    }
    
    .kontakt:hover, 
    .kontakt:hover a{
        background-color: #827EC3;
        color: #C2C0E5;
        border-color: #C2C0E5;
        cursor: pointer;
    }
    
    .cases:hover, 
    .cases:hover a{
        background-color: #827EC3;
        color: #C2C0E5;
        border-color: #C2C0E5;
        cursor: pointer;
    }
    
    .textlink:hover{
        cursor: pointer;
        color: #827EC3;
    }
    
    .link_bento:hover, 
    .link_bento:hover a,
    .link_bento:hover p{
      background-color: #827EC3;
      color: #C2C0E5;
      border-color: #C2C0E5;
      cursor: pointer;
      overflow: hidden;
    }

    .ikon:hover{
        transform: scale(1.25);
    }

    footer{
        background-image: url(images/fotos/footer.jpg);
        background-size: cover; /* Dette sikrer, at billedet dækker hele baggrunden */
        background-repeat: no-repeat; /* For at forhindre gentagelse af baggrundsbilledet */
        background-position: right;
        height: 300px;
    }

    /*pageloader*/

    #pageloader{
        background-color: #C2C0E5;
        width: 100vw;
        height: 100vh;
        top:0;
        position: fixed;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #pageloader img{
        width: 100%;
        border-radius: 50px;
        border:solid;
        border-color: #FF0523;
    }

    #et{
        display: none;
        position: absolute;
        z-index: 2;
        width: 30vw;
    }

    #to{
        display: none;
        position: absolute;
        z-index: 3;
        width: 30vw;
        transform: rotate(20deg);
    }

    #tre{
        display: none;
        position: relative;
        z-index: 4;
        width: 30vw;
        transform: rotate(-10deg);

    }

    #content{
        display: none;
    }

    /*forside*/

    #forside{
        max-width: 30%;
        margin-left: 60%;
        /*margin-top: 10%;*/
        background-color: transparent;
    }


    /*cases side*/

    #referencer{
        margin-top: 25%;
    }

    #nav_1{
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 25%;
        padding-top: 5%;
    }
    
    #nav_1 div{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 10%;
    }
    
    #nav_1 a {
        margin-top: -5px;
        padding-top: 1px;
        padding-bottom: 1px;
    
        font-size: 30pt;
    }


    .grid5{
        grid-column: 1/4;
        grid-row: 1/1;
        margin-top: 20%;
    }

    .grid6{
        grid-column: 1/4;
        grid-row: 2/7;
    }

    .grid7{
        grid-column: 1/1;
        grid-row: 7/15;

    }

    .grid10{
        grid-column: 2/4;
        grid-row: 8/15;
    }

    .grid11{
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .grid12{
        grid-column: 3/4;
        grid-row: 1/5;
    }

    .grid13{
        grid-column: 1/3;
        grid-row: 2/7;
        background-image: url(images/gh_moodboard.jpg);
        background-size: 100%;
        overflow: hidden;
        align-items: center;
        text-align: center;
    }

    #grid14{
        grid-column: 3/4;
        grid-row: 6/7;
    }

    #grid15{
        grid-column: 3/4;
        grid-row: 5/6;
    }

    .grid16{
        grid-column: 2/4;
        grid-row: 7/9;
        overflow: hidden;
        padding-top: 70px;
    }

    #engel{
        width: 60%;
        transform: scaleX(-1);
    }

    .grid17{
        grid-column: 1/1;
        grid-row: 7/9;
    }

    .grid19{
        grid-column: 1/2;
        grid-row: 9/10;
        overflow: hidden;
    }
    .grid20{
        grid-column: 1/2;
        grid-row: 10/12;
        overflow: hidden;
    }

    #bk_insta{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #farver_bk{
        width: 100%;
        height: 100%;
    }

    .grid21{
        grid-column: 2/4;
        grid-row: 9/11;
        padding-top: 8%;
    }

    .grid22{
        grid-column: 2/4;
        grid-row: 11/14;
        overflow: hidden;
    }


    #font_bk{
        width: 100%;
        height: 100%;
    }

    .grid23{
        grid-column: 1/4;
    }

    #grid24{
        grid-column: 1/2;
        grid-row: 12/13;
    }

    #grid25{
        grid-column: 1/2;
        grid-row: 13/14;
    }

    .grid26{
        grid-column: 4/4;
        grid-row: 6/6
    }

    .grid27{
        grid-column: 1/4;
        grid-row: 1/2
    }

    .grid28{
        grid-column: 1/4;
        grid-row: 2/7;
        overflow: hidden;
    }

    .grid29{
        grid-column: 4/4;
        grid-row: 1/5;
    }

    .grid30{
        grid-column: 1/5;
        grid-row: 7/10;
    }

    .grid31{
        grid-column: 1/5;
        grid-row: 10/15;
        background-color: transparent;
        overflow: hidden;
    }

    .grid32{
        grid-column: 1/3;
        grid-row: 15/16;
    }

    .grid33{
        grid-column: 3/5;
        grid-row: 15/20;
    }

    #grid34{
        grid-column: 1/2;
        grid-row: 16/17;
    }

    #grid35{
        grid-column: 2/3;
        grid-row: 16/17;
    }

    .grid36{
        grid-column: 1/3;
        grid-row: 17/20;
        overflow: hidden;
    }

    .grid37{
        grid-column: 1/3;
        grid-row: 1/2;
    }

    #grid38{
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .grid39{
        grid-column: 1/2;
        grid-row: 2/5;
    }

    .grid40{
        padding-top: 5%;
        grid-column: 2/4;
        grid-row: 2/5;
        padding-bottom: 5%;
    }

    .grid41{
        grid-column: 1/3;
        grid-row: 6/9;
    }

    .grid42{
        grid-column: 3/4;
        grid-row: 5/9;
    }

    .grid43{
        grid-column: 1/2;
        grid-row: 5/6;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .grid44{
        grid-column: 2/3;
        grid-row: 5/6;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .grimfest{
        width: 50px;
    }

    .grimfest:hover{
        transform: scale(1.25);
    }

    /*erfarings siden*/
    .mobil_version{
        display: none;
    }


#nav{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 25%;
}

#nav div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10%;
}

#nav a {
    margin-top: -5px;

    padding-top: 1px;
    padding-bottom: 1px;

    font-size: 30pt;
}

    
        /*pia*/
    .grid47{
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .grid48{
        grid-column: 1/3;
        grid-row: 2/7;
        padding-top: 10%;
    }

    .grid49{
        grid-column: 3/4;
    }

    .grid50{
        grid-column: 3/4;
    }

    .h{
        text-align: right;
        padding-right: 5%;
    }

    .grid49,
    .grid50,
    .grid57,
    .grid58{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .grid52,
    .grid54{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }


    .grid51{
        grid-column: 3/4; 
        grid-row: 4/7;
        overflow: hidden;
    }

    .grid47{
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .grid48{
        grid-column: 1/3;
        grid-row: 2/7;
    }

    .grid49, 
    .grid50{
        grid-column: 3/4;
    }

    .h{
        text-align: right;
        padding-right: 5%;
    }

    .grid51{
        grid-column: 3/4; 
        grid-row: 4/7;
        overflow: hidden;
    }

    .tegninger{
        width: 100%;
        padding: 10%;
    }

        /*Nette*/

    .grid52{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .grid54{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .grid53{
        grid-column: 2/4;
        grid-row: 1/7;
    }

    .grid53 p{
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .grid55{
        grid-column: 1/2; 
        grid-row: 3/7;
        overflow: hidden;
    }

        /*amalie*/
    .grid56{
        grid-column: 1/3;
        grid-row: 1/7;
        padding-top: 10%
    }

    .grid57{
        grid-column: 3/4;
        grid-row: 1/2
    }
 
    .grid58{
        grid-column: 3/4;
        grid-row: 2/3
    }

    .grid59{
        grid-column: 3/4; 
        grid-row: 3/7;
        overflow: hidden;
    }

        /*cv*/
    .grid71{
        grid-column: 1/4; 
        grid-row: 1/2;
    }

    .grid72{
        grid-column: 1/2; 
        grid-row: 2/4;
        overflow: hidden;
    }

    .grid73{
        grid-column: 2/4; 
        grid-row: 2/12;
    }

    .grid74{
        grid-column: 1/2; 
        grid-row: 4/12;
    }

        /*programmer*/
    .grid75{
        grid-column: 1/4; 
        grid-row: 1/2;
    }

    .grid76{
        grid-column: 1/4; 
        grid-row: 2/3;
        padding-top: 5px;
    }

    .programmer{
        width: 120px;
        height: 120px;
        border: solid;
        border-color: #FF0523;
        border-radius: 30px;
    }

    .grid77{
        grid-column: 1/4; 
        grid-row: 1/2;
    }

    .grid78,
    .grid79,
    .grid80{
        display: flex;
        justify-content: center;
        align-items: center;
    }

     /*om mig*/

     #ommig{
        height: 80vh;
    }
    
     .grid81{
        grid-column: 1/2; 
        grid-row: 1/3;
        overflow: hidden;
     }

     .grid82{
        grid-column: 2/4; 
        grid-row: 1/2;
     }

     .grid83{
        grid-row: 2/3;
        padding-bottom: 10%;
     }

     .grid84{
        grid-row: 2/3;
        overflow: hidden;
     }

     .grid85{
        grid-column: 1/4; 
        grid-row: 1/2;
     }

     .grid86{
        grid-column: 1/2; 
        grid-row: 2/7;
     }

     .grid87{
        grid-column: 2/4; 
        grid-row: 2/7;
        overflow:hidden;
     }

     .grid87 img{
        height: 100%;
     }

     .grid88{
        grid-column: 1/3; 
        grid-row: 7/12;
        overflow: hidden;
     }

     .grid88 img{
        height: 100%;
     }
     
     .grid89{
        grid-column: 3/4; 
        grid-row: 7/12; 
        overflow: hidden;
     }

     .grid89 img{
        height: 100%;
     }

     .grid90{
        grid-column: 1/2; 
        grid-row: 12/17;

        display: flex;
        justify-content: center;
        align-items: center;
     }

     .grid90 img{
        width: 50%;
     }

     .grid91{
        grid-column: 2/4; 
        grid-row: 12/17;
        overflow: hidden;
     }

     .grid91 img{
        height: 100%;
     }

    .grid92{
        grid-column: 1/5; 
        grid-row: 1/2;
    }

    .grid93{
        grid-column: 1/2; 
        grid-row: 5/6;
    }

    .grid93,
    .grid94{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .grid94{
        grid-column: 2/3; 
        grid-row: 5/6;
    }

    .grid95{
        grid-column: 3/5; 
        grid-row: 2/4;
        overflow: hidden;
        background-color: #0d0715;
    }

    .grid96{
        grid-column: 1/3; 
        grid-row: 2/5;
        overflow: hidden;
    }

    .grid97{
        grid-column: 3/5; 
        grid-row: 4/10;
        overflow: hidden;
    }

    .grid98{
        grid-column: 1/3; 
        grid-row: 6/12;
        overflow: hidden;
    }

    .grid99{
        grid-column: 3/5; 
        grid-row: 10/12; 
    }

    .grid100{
        grid-column: 1/6; 
        grid-row: 1/2;
    }

    .grid101{
        grid-column: 1/2; 
        grid-row: 2/3;
    }

    .grid102{
        grid-column: 2/4; 
        grid-row: 2/3;
    }

    .grid103{
        grid-column: 4/6; 
        grid-row: 2/8;
        overflow: hidden;
    }

    .grid104{
        grid-column: 1/3; 
        grid-row: 3/4;
    }

    .grid105{
        grid-column: 3/4; 
        grid-row: 3/4;
    }

    .grid106{
        grid-column: 1/2; 
        grid-row: 4/5;
    }

    .grid107{
        grid-column: 2/4; 
        grid-row: 4/5;
    }

    .grid108{
        grid-column: 1/4; 
        grid-row: 5/8;
    }

    .grid109{
        grid-column: 1/6; 
        grid-row: 8/9;
    }

    .grid101,
    .grid102,
    .grid104,
    .grid105,
    .grid106,
    .grid107{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /*kontaktsiden*/

    #callme{
        display: grid;
        margin: auto;
        max-width: 80vw;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 5px;
        margin-bottom: 200px;
    }

    .ikon_tekst{
        font-size: 10pt;
        padding-top: 70px;
        padding-left: 0;
        margin-right: 10px;
        text-align: left;
        color: #827EC3;
        white-space: nowrap;
    }

    #kontakt_mig img{
        width: 80px;
    }

    #tlf{
        margin-bottom: 5%;
    }

    #kontakt_mig p{
        margin-right: 250px;
        text-align: left;
     }

    .grid45{
       width: 450px;

       grid-column: 1/2;
       grid-row: 2/3;

    }
    
    #box{
        grid-column: 2/4;
        grid-row: 2/3; 
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        overflow: hidden;
        word-wrap: break-word;
        white-space: nowrap;
    }

    #box #kontakt_mig{
        margin-top: 5%;
    }

    #kontakt_mig div{
        display: flex;
        align-items: center;
    }

    #box #kontakt_mig p{
        white-space: nowrap;
        
    }

    .grid110{
        grid-column: 1/4;
        grid-row: 1/2;
    }
}

